.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: 2s;
}

.ex-1-square:hover {
    background-color: red;
}

/* exercise 1 done */


.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    border: none;
    transition: 2s;
}

.ex-2-square:active {
    width: 100%;
}

/* exercise 2 done */

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 0.4s ease-out 0.5s;
}

.ex-3-square:hover {
    border-radius: 50%;
    transition: 0.4s ease-out 0s;
}

/* exercise 3 done, used stack overflow to
figure out the mouseout delay mechanism
(https://stackoverflow.com/questions/5921073
/different-css-transition-delays-for-hover-
and-mouseout) */

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 1s;
}

.ex-4-square:hover {
    background: #F5F5F5;
}

/* excercise 4 done */

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: 0.7s;
}

.ex-5-square:hover {
    margin: -10px;
    width: 120px;
    height: 120px;
}

.ex-5-square:active {
    margin: 35px;
    width: 30px;
    height: 30px;
}

/* exercise 5 done, had to inspect #well
div in order to get a clue about the father's
padding, wich I then overrode using negative
margins */

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-6-img:hover {
    filter: grayscale(1);
}

/* exercise 6 done */

.ex-7-img {
    transition: 3s;
}

.ex-7-img:hover {
    filter: grayscale(1);
}

/* exercise 7 done, had to switch image (used
the one of ex-6) because the original was not
showing */

.ex-8-img {
    filter: none;
    transition: 3s;
}

.ex-8-img:hover {
    border-radius: 20px;
    filter:  grayscale(70%) blur(1px);
}

/* exercise 8 STILL NOT DONE */

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: 2s;
}

.ex-9-img:hover {
    transform: scale(1.5);
    border-radius: 25px;
    filter: grayscale(50%);
}

/* exercise 9 STILL THE SAME ISSUE AS 8 */


.ex-10-icon {
    font-size: 60px;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {

    0% {
        rotate: 0deg;
    }

    50% {
        rotate: -180deg;

    }

    100% {
        rotate : -360deg;
    }
}

/* exercise 10 done */


.ex-11-icon {
    font-size: 60px;
}

.ex-11-icon:hover {
    animation-name: rotate2;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes rotate2 {

    0% {
        rotate: 0deg;
    }

    30% {
        rotate: 100deg;

    }

    60% {
        rotate: 200deg;
    }

    90% {
        rotate: 300deg;
    }

    100% {
        rotate : 0deg;
    }
}

/* exercise 11 done */


.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-12-button:hover > .ex-12-top-white {
    animation-name: anim1;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes anim1 {

    0%{
        top: -10px;
        left: 10%;
    }

    50%{
        top: -10px;
        left: 70%;
    }

    100%{
        top: -10px;
        left: 10%;
    }
}

.ex-12-button:hover > .ex-12-bottom-white {
    animation-name: anim2;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes anim2 {

    0%{
        bottom: -10px;
        right: 20%;
    }

    50%{
        bottom: -10px;
        right: 70%;
    }

    100%{
        bottom: -10px;
        right: 20%;
    }
}

/* exercise 12 done */
